@model IEnumerable<InvoiceApplication.Models.Invoice_Table>

@{
    ViewData["Title"] = "Index";
}

<style>
    .tableeffect {
        animation: fadeInUp 1s ease-out forwards;
    }

    @@keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .createButton {
        animation: fadeInLeft 1s ease-in forwards;
    }


    @@keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .logo {
        animation: fadeInRight 1s ease-in forwards;
    }


    @@keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(-100px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .logo {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTit-JnxMDv2GGAkG9_6lPM1695xErnnRg0Ng&s");
        background-size: contain;
        -webkit-background-clip: text;
        color: transparent; /* required */
    }
</style>

<div class="d-flex justify-content-between">

    <h1 class="logo">RR Company</h1>
    <a asp-action="CreateInvoice" class="btn btn-outline-success my-3 createButton">Create Invoice</a>

</div>


<table class="table border table-striped tableeffect">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Billing_Name)
            </th>
            <th>
                Billing Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping_Name)
            </th>
            <th>
                Shipping Address
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Invoice_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Billing_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingAddress_Address),<br />
                    @Html.DisplayFor(modelItem => item.BillingAddress_City), <br />
                    @Html.DisplayFor(modelItem => item.BillingAddress_State).
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipping_Name)
                </td>
                <td style="word-break : break-word">
                    @Html.DisplayFor(modelItem => item.ShippingAddress_Address),<br />
                    @Html.DisplayFor(modelItem => item.ShippingAddress_City),<br />
                    @Html.DisplayFor(modelItem => item.ShippingAddress_State).
                </td>
                <td style="width: 245px">
                    <a asp-action="DetailInvoice" asp-route-id="@item.Invoice_Number" class="btn btn-warning">Invoice</a> |
                    <a asp-action="EditInvoice" asp-route-id="@item.Invoice_Number" class="btn btn-success">Edit</a> |
                    <a asp-action="DeleteInvoice" asp-route-id="@item.Invoice_Number" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
